<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boku.www.mapper.RoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.boku.www.pojo.RoleMenu" >
    <id column="role_menu_id" property="roleMenuId" jdbcType="VARCHAR" />
    <result column="role_menu_roleId" property="roleMenuRoleid" jdbcType="VARCHAR" />
    <result column="role_menu_menuId" property="roleMenuMenuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    role_menu_id, role_menu_roleId, role_menu_menuId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boku.www.pojo.RoleMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from role_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role_menu
    where role_menu_id = #{roleMenuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role_menu
    where role_menu_id = #{roleMenuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.boku.www.pojo.RoleMenuExample" >
    delete from role_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boku.www.pojo.RoleMenu" >
    insert into role_menu (role_menu_id, role_menu_roleId, role_menu_menuId
      )
    values (#{roleMenuId,jdbcType=VARCHAR}, #{roleMenuRoleid,jdbcType=VARCHAR}, #{roleMenuMenuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boku.www.pojo.RoleMenu" >
    insert into role_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleMenuId != null" >
        role_menu_id,
      </if>
      <if test="roleMenuRoleid != null" >
        role_menu_roleId,
      </if>
      <if test="roleMenuMenuid != null" >
        role_menu_menuId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleMenuId != null" >
        #{roleMenuId,jdbcType=VARCHAR},
      </if>
      <if test="roleMenuRoleid != null" >
        #{roleMenuRoleid,jdbcType=VARCHAR},
      </if>
      <if test="roleMenuMenuid != null" >
        #{roleMenuMenuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boku.www.pojo.RoleMenuExample" resultType="java.lang.Integer" >
    select count(*) from role_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update role_menu
    <set >
      <if test="record.roleMenuId != null" >
        role_menu_id = #{record.roleMenuId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleMenuRoleid != null" >
        role_menu_roleId = #{record.roleMenuRoleid,jdbcType=VARCHAR},
      </if>
      <if test="record.roleMenuMenuid != null" >
        role_menu_menuId = #{record.roleMenuMenuid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update role_menu
    set role_menu_id = #{record.roleMenuId,jdbcType=VARCHAR},
      role_menu_roleId = #{record.roleMenuRoleid,jdbcType=VARCHAR},
      role_menu_menuId = #{record.roleMenuMenuid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boku.www.pojo.RoleMenu" >
    update role_menu
    <set >
      <if test="roleMenuRoleid != null" >
        role_menu_roleId = #{roleMenuRoleid,jdbcType=VARCHAR},
      </if>
      <if test="roleMenuMenuid != null" >
        role_menu_menuId = #{roleMenuMenuid,jdbcType=VARCHAR},
      </if>
    </set>
    where role_menu_id = #{roleMenuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boku.www.pojo.RoleMenu" >
    update role_menu
    set role_menu_roleId = #{roleMenuRoleid,jdbcType=VARCHAR},
      role_menu_menuId = #{roleMenuMenuid,jdbcType=VARCHAR}
    where role_menu_id = #{roleMenuId,jdbcType=VARCHAR}
  </update>
</mapper>