<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boku.www.mapper.TAreaAndCompanyMapper" >
    <resultMap id="BaseResultMap" type="com.boku.www.pojo.TAreaAndCompany" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="district" property="district" jdbcType="VARCHAR" />
        <result column="company" property="company" jdbcType="VARCHAR" />
        <result column="company_id" property="companyId" jdbcType="VARCHAR" />
        <result column="thesis_for_chinese_num" property="thesisForChineseNum" jdbcType="INTEGER" />
        <result column="thesis_for_english_num" property="thesisForEnglishNum" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        id, city, district, company, company_id, thesis_for_chinese_num, thesis_for_english_num,
        status
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boku.www.pojo.TAreaAndCompanyExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_area_and_company
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_area_and_company
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_area_and_company
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.boku.www.pojo.TAreaAndCompanyExample" >
        delete from t_area_and_company
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.boku.www.pojo.TAreaAndCompany" >
        insert into t_area_and_company (id, city, district,
        company, company_id, thesis_for_chinese_num,
        thesis_for_english_num, status)
        values (#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR},
        #{company,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{thesisForChineseNum,jdbcType=INTEGER},
        #{thesisForEnglishNum,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.boku.www.pojo.TAreaAndCompany" >
        insert into t_area_and_company
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="district != null" >
                district,
            </if>
            <if test="company != null" >
                company,
            </if>
            <if test="companyId != null" >
                company_id,
            </if>
            <if test="thesisForChineseNum != null" >
                thesis_for_chinese_num,
            </if>
            <if test="thesisForEnglishNum != null" >
                thesis_for_english_num,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null" >
                #{district,jdbcType=VARCHAR},
            </if>
            <if test="company != null" >
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null" >
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="thesisForChineseNum != null" >
                #{thesisForChineseNum,jdbcType=INTEGER},
            </if>
            <if test="thesisForEnglishNum != null" >
                #{thesisForEnglishNum,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.boku.www.pojo.TAreaAndCompanyExample" resultType="java.lang.Integer" >
        select count(*) from t_area_and_company
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update t_area_and_company
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.city != null" >
                city = #{record.city,jdbcType=VARCHAR},
            </if>
            <if test="record.district != null" >
                district = #{record.district,jdbcType=VARCHAR},
            </if>
            <if test="record.company != null" >
                company = #{record.company,jdbcType=VARCHAR},
            </if>
            <if test="record.companyId != null" >
                company_id = #{record.companyId,jdbcType=VARCHAR},
            </if>
            <if test="record.thesisForChineseNum != null" >
                thesis_for_chinese_num = #{record.thesisForChineseNum,jdbcType=INTEGER},
            </if>
            <if test="record.thesisForEnglishNum != null" >
                thesis_for_english_num = #{record.thesisForEnglishNum,jdbcType=INTEGER},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update t_area_and_company
        set id = #{record.id,jdbcType=INTEGER},
        city = #{record.city,jdbcType=VARCHAR},
        district = #{record.district,jdbcType=VARCHAR},
        company = #{record.company,jdbcType=VARCHAR},
        company_id = #{record.companyId,jdbcType=VARCHAR},
        thesis_for_chinese_num = #{record.thesisForChineseNum,jdbcType=INTEGER},
        thesis_for_english_num = #{record.thesisForEnglishNum,jdbcType=INTEGER},
        status = #{record.status,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.boku.www.pojo.TAreaAndCompany" >
        update t_area_and_company
        <set >
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null" >
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="company != null" >
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null" >
                company_id = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="thesisForChineseNum != null" >
                thesis_for_chinese_num = #{thesisForChineseNum,jdbcType=INTEGER},
            </if>
            <if test="thesisForEnglishNum != null" >
                thesis_for_english_num = #{thesisForEnglishNum,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.boku.www.pojo.TAreaAndCompany" >
        update t_area_and_company
        set city = #{city,jdbcType=VARCHAR},
        district = #{district,jdbcType=VARCHAR},
        company = #{company,jdbcType=VARCHAR},
        company_id = #{companyId,jdbcType=VARCHAR},
        thesis_for_chinese_num = #{thesisForChineseNum,jdbcType=INTEGER},
        thesis_for_english_num = #{thesisForEnglishNum,jdbcType=INTEGER},
        status = #{status,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--查询所有的单位-->
    <select id="selectAllCompany" resultType="java.lang.String" >
        SELECT company FROM t_area_and_company
    </select>
    <!--查询所有的单位id-->
    <select id="selectAllCompanyId" resultType="java.lang.String" >
        SELECT company_id FROM t_area_and_company
    </select>
    <!--文献数量前X单位-->
    <select id="selectChineseBeforeX" resultMap="BaseResultMap">
       SELECT * FROM t_area_and_company ORDER BY thesis_for_chinese_num DESC LIMIT 0,#{X}
    </select>
    <select id="selectEnglishBeforeX" resultMap="BaseResultMap">
        SELECT * FROM t_area_and_company ORDER BY thesis_for_english_num DESC LIMIT 0,#{X}
    </select>
    <!--各地区中文文献数量前20的单位-->
    <select id="selectChineseBeforeTwentiethInEachArea" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        t_area_and_company a
        WHERE
        (
        SELECT
        count(*)
        FROM
        t_area_and_company b
        WHERE
        b.city = a.city
        AND b.thesis_for_chinese_num >= a.thesis_for_chinese_num
        ) &lt;= 20
        ORDER BY
        a.city,
        a.thesis_for_chinese_num DESC;
    </select>
    <!--各地区外文文献数量前20的单位-->
    <select id="selectEnglishBeforeTwentiethInEachArea" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        t_area_and_company a
        WHERE
        (
        SELECT
        count(*)
        FROM
        t_area_and_company b
        WHERE
        b.city = a.city
        AND b.thesis_for_english_num >= a.thesis_for_english_num
        ) &lt;= 20
        ORDER BY
        a.city,
        a.thesis_for_english_num DESC;
    </select>


</mapper>