<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boku.www.mapper.TMenuMapper" >
  <resultMap id="BaseResultMap" type="com.boku.www.pojo.TMenu" >
    <id column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_page" property="menuPage" jdbcType="VARCHAR" />
    <result column="menu_priority" property="menuPriority" jdbcType="VARCHAR" />
    <result column="menu_description" property="menuDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menu_id, menu_name, menu_page, menu_priority, menu_description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boku.www.pojo.TMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.boku.www.pojo.TMenuExample" >
    delete from t_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boku.www.pojo.TMenu" >
    insert into t_menu (menu_id, menu_name, menu_page, 
      menu_priority, menu_description)
    values (#{menuId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{menuPage,jdbcType=VARCHAR}, 
      #{menuPriority,jdbcType=VARCHAR}, #{menuDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boku.www.pojo.TMenu" >
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuPage != null" >
        menu_page,
      </if>
      <if test="menuPriority != null" >
        menu_priority,
      </if>
      <if test="menuDescription != null" >
        menu_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPage != null" >
        #{menuPage,jdbcType=VARCHAR},
      </if>
      <if test="menuPriority != null" >
        #{menuPriority,jdbcType=VARCHAR},
      </if>
      <if test="menuDescription != null" >
        #{menuDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boku.www.pojo.TMenuExample" resultType="java.lang.Integer" >
    select count(*) from t_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_menu
    <set >
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null" >
        menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuPage != null" >
        menu_page = #{record.menuPage,jdbcType=VARCHAR},
      </if>
      <if test="record.menuPriority != null" >
        menu_priority = #{record.menuPriority,jdbcType=VARCHAR},
      </if>
      <if test="record.menuDescription != null" >
        menu_description = #{record.menuDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_menu
    set menu_id = #{record.menuId,jdbcType=VARCHAR},
      menu_name = #{record.menuName,jdbcType=VARCHAR},
      menu_page = #{record.menuPage,jdbcType=VARCHAR},
      menu_priority = #{record.menuPriority,jdbcType=VARCHAR},
      menu_description = #{record.menuDescription,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boku.www.pojo.TMenu" >
    update t_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPage != null" >
        menu_page = #{menuPage,jdbcType=VARCHAR},
      </if>
      <if test="menuPriority != null" >
        menu_priority = #{menuPriority,jdbcType=VARCHAR},
      </if>
      <if test="menuDescription != null" >
        menu_description = #{menuDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boku.www.pojo.TMenu" >
    update t_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_page = #{menuPage,jdbcType=VARCHAR},
      menu_priority = #{menuPriority,jdbcType=VARCHAR},
      menu_description = #{menuDescription,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>