<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boku.www.mapper.TPatentMapper" >
  <resultMap id="BaseResultMap" type="com.boku.www.pojo.TPatent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="first_invento" property="firstInvento" jdbcType="VARCHAR" />
    <result column="other_inventors" property="otherInventors" jdbcType="VARCHAR" />
    <result column="first_invento_company" property="firstInventoCompany" jdbcType="VARCHAR" />
    <result column="patent_name" property="patentName" jdbcType="VARCHAR" />
    <result column="patentee" property="patentee" jdbcType="VARCHAR" />
    <result column="patent_application_date" property="patentApplicationDate" jdbcType="VARCHAR" />
    <result column="authorized_announcement_date" property="authorizedAnnouncementDate" jdbcType="VARCHAR" />
    <result column="patent_category" property="patentCategory" jdbcType="VARCHAR" />
    <result column="certificate_num" property="certificateNum" jdbcType="VARCHAR" />
    <result column="patent_num" property="patentNum" jdbcType="VARCHAR" />
    <result column="patent_agency_name" property="patentAgencyName" jdbcType="VARCHAR" />
    <result column="regist_time" property="registTime" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="confirm_status" property="confirmStatus" jdbcType="VARCHAR" />

  </resultMap>
    <resultMap id="CountResultMap" type="com.boku.www.utils.Count" >
        <result column="area" property="area" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="INTEGER" />
    </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, first_invento, other_inventors, first_invento_company, patent_name, patentee, 
    patent_application_date, authorized_announcement_date, patent_category, certificate_num, 
    patent_num, patent_agency_name, regist_time, area, status, confirm_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boku.www.pojo.TPatentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_patent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_patent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_patent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.boku.www.pojo.TPatentExample" >
    delete from t_patent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boku.www.pojo.TPatent" >
    insert into t_patent (id, first_invento, other_inventors, 
      first_invento_company, patent_name, patentee, 
      patent_application_date, authorized_announcement_date, 
      patent_category, certificate_num, patent_num, 
      patent_agency_name, regist_time, area, 
      status, confirm_status)
    values (#{id,jdbcType=INTEGER}, #{firstInvento,jdbcType=VARCHAR}, #{otherInventors,jdbcType=VARCHAR}, 
      #{firstInventoCompany,jdbcType=VARCHAR}, #{patentName,jdbcType=VARCHAR}, #{patentee,jdbcType=VARCHAR}, 
      #{patentApplicationDate,jdbcType=VARCHAR}, #{authorizedAnnouncementDate,jdbcType=VARCHAR}, 
      #{patentCategory,jdbcType=VARCHAR}, #{certificateNum,jdbcType=VARCHAR}, #{patentNum,jdbcType=VARCHAR}, 
      #{patentAgencyName,jdbcType=VARCHAR}, #{registTime,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{confirmStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boku.www.pojo.TPatent" >
    insert into t_patent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="firstInvento != null" >
        first_invento,
      </if>
      <if test="otherInventors != null" >
        other_inventors,
      </if>
      <if test="firstInventoCompany != null" >
        first_invento_company,
      </if>
      <if test="patentName != null" >
        patent_name,
      </if>
      <if test="patentee != null" >
        patentee,
      </if>
      <if test="patentApplicationDate != null" >
        patent_application_date,
      </if>
      <if test="authorizedAnnouncementDate != null" >
        authorized_announcement_date,
      </if>
      <if test="patentCategory != null" >
        patent_category,
      </if>
      <if test="certificateNum != null" >
        certificate_num,
      </if>
      <if test="patentNum != null" >
        patent_num,
      </if>
      <if test="patentAgencyName != null" >
        patent_agency_name,
      </if>
      <if test="registTime != null" >
        regist_time,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="confirmStatus != null" >
        confirm_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstInvento != null" >
        #{firstInvento,jdbcType=VARCHAR},
      </if>
      <if test="otherInventors != null" >
        #{otherInventors,jdbcType=VARCHAR},
      </if>
      <if test="firstInventoCompany != null" >
        #{firstInventoCompany,jdbcType=VARCHAR},
      </if>
      <if test="patentName != null" >
        #{patentName,jdbcType=VARCHAR},
      </if>
      <if test="patentee != null" >
        #{patentee,jdbcType=VARCHAR},
      </if>
      <if test="patentApplicationDate != null" >
        #{patentApplicationDate,jdbcType=VARCHAR},
      </if>
      <if test="authorizedAnnouncementDate != null" >
        #{authorizedAnnouncementDate,jdbcType=VARCHAR},
      </if>
      <if test="patentCategory != null" >
        #{patentCategory,jdbcType=VARCHAR},
      </if>
      <if test="certificateNum != null" >
        #{certificateNum,jdbcType=VARCHAR},
      </if>
      <if test="patentNum != null" >
        #{patentNum,jdbcType=VARCHAR},
      </if>
      <if test="patentAgencyName != null" >
        #{patentAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        #{registTime,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="confirmStatus != null" >
        #{confirmStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boku.www.pojo.TPatentExample" resultType="java.lang.Integer" >
    select count(*) from t_patent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_patent
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.firstInvento != null" >
        first_invento = #{record.firstInvento,jdbcType=VARCHAR},
      </if>
      <if test="record.otherInventors != null" >
        other_inventors = #{record.otherInventors,jdbcType=VARCHAR},
      </if>
      <if test="record.firstInventoCompany != null" >
        first_invento_company = #{record.firstInventoCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.patentName != null" >
        patent_name = #{record.patentName,jdbcType=VARCHAR},
      </if>
      <if test="record.patentee != null" >
        patentee = #{record.patentee,jdbcType=VARCHAR},
      </if>
      <if test="record.patentApplicationDate != null" >
        patent_application_date = #{record.patentApplicationDate,jdbcType=VARCHAR},
      </if>
      <if test="record.authorizedAnnouncementDate != null" >
        authorized_announcement_date = #{record.authorizedAnnouncementDate,jdbcType=VARCHAR},
      </if>
      <if test="record.patentCategory != null" >
        patent_category = #{record.patentCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateNum != null" >
        certificate_num = #{record.certificateNum,jdbcType=VARCHAR},
      </if>
      <if test="record.patentNum != null" >
        patent_num = #{record.patentNum,jdbcType=VARCHAR},
      </if>
      <if test="record.patentAgencyName != null" >
        patent_agency_name = #{record.patentAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="record.registTime != null" >
        regist_time = #{record.registTime,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmStatus != null" >
        confirm_status = #{record.confirmStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_patent
    set id = #{record.id,jdbcType=INTEGER},
      first_invento = #{record.firstInvento,jdbcType=VARCHAR},
      other_inventors = #{record.otherInventors,jdbcType=VARCHAR},
      first_invento_company = #{record.firstInventoCompany,jdbcType=VARCHAR},
      patent_name = #{record.patentName,jdbcType=VARCHAR},
      patentee = #{record.patentee,jdbcType=VARCHAR},
      patent_application_date = #{record.patentApplicationDate,jdbcType=VARCHAR},
      authorized_announcement_date = #{record.authorizedAnnouncementDate,jdbcType=VARCHAR},
      patent_category = #{record.patentCategory,jdbcType=VARCHAR},
      certificate_num = #{record.certificateNum,jdbcType=VARCHAR},
      patent_num = #{record.patentNum,jdbcType=VARCHAR},
      patent_agency_name = #{record.patentAgencyName,jdbcType=VARCHAR},
      regist_time = #{record.registTime,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      confirm_status = #{record.confirmStatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boku.www.pojo.TPatent" >
    update t_patent
    <set >
      <if test="firstInvento != null" >
        first_invento = #{firstInvento,jdbcType=VARCHAR},
      </if>
      <if test="otherInventors != null" >
        other_inventors = #{otherInventors,jdbcType=VARCHAR},
      </if>
      <if test="firstInventoCompany != null" >
        first_invento_company = #{firstInventoCompany,jdbcType=VARCHAR},
      </if>
      <if test="patentName != null" >
        patent_name = #{patentName,jdbcType=VARCHAR},
      </if>
      <if test="patentee != null" >
        patentee = #{patentee,jdbcType=VARCHAR},
      </if>
      <if test="patentApplicationDate != null" >
        patent_application_date = #{patentApplicationDate,jdbcType=VARCHAR},
      </if>
      <if test="authorizedAnnouncementDate != null" >
        authorized_announcement_date = #{authorizedAnnouncementDate,jdbcType=VARCHAR},
      </if>
      <if test="patentCategory != null" >
        patent_category = #{patentCategory,jdbcType=VARCHAR},
      </if>
      <if test="certificateNum != null" >
        certificate_num = #{certificateNum,jdbcType=VARCHAR},
      </if>
      <if test="patentNum != null" >
        patent_num = #{patentNum,jdbcType=VARCHAR},
      </if>
      <if test="patentAgencyName != null" >
        patent_agency_name = #{patentAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        regist_time = #{registTime,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="confirmStatus != null" >
        confirm_status = #{confirmStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boku.www.pojo.TPatent" >
    update t_patent
    set first_invento = #{firstInvento,jdbcType=VARCHAR},
      other_inventors = #{otherInventors,jdbcType=VARCHAR},
      first_invento_company = #{firstInventoCompany,jdbcType=VARCHAR},
      patent_name = #{patentName,jdbcType=VARCHAR},
      patentee = #{patentee,jdbcType=VARCHAR},
      patent_application_date = #{patentApplicationDate,jdbcType=VARCHAR},
      authorized_announcement_date = #{authorizedAnnouncementDate,jdbcType=VARCHAR},
      patent_category = #{patentCategory,jdbcType=VARCHAR},
      certificate_num = #{certificateNum,jdbcType=VARCHAR},
      patent_num = #{patentNum,jdbcType=VARCHAR},
      patent_agency_name = #{patentAgencyName,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      confirm_status = #{confirmStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--统计各地区专利的数量-->
    <select id="countTheNumberOfPatentsInEachArea" resultMap="CountResultMap">
      select  area ,count(*) AS 'count' from t_patent group by area
    </select>
</mapper>