<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boku.www.mapper.system.URoleDao">

<!-- URole resultMap映射  -->
<resultMap type="com.boku.www.pojo.system.URole" id="URole">
        <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <id column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <id column="type" property="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>



<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
 id,name,type
</sql>

<!-- 查询条件 -->
<sql id="AllColumnWhere">
	<if test="id!=null  ">
	AND id=#{id}
	</if>
	<if test="name!=null  ">
	AND name=#{name}
	</if>
	<if test="type!=null  ">
	AND type=#{type}
	</if>
</sql>

<!-- query 查询条件 -->
<sql id="listCommonWhere">
	<if test="q!=null">
		<if test="q.id!=null ">
			AND id=#{q.id}
		</if>
		<if test="q.name!=null  and q.name !='' ">
			AND name=#{q.name}
		</if>
		<if test="q.type!=null  and q.type !='' ">
			AND type=#{q.type}
		</if>
	</if>
</sql>



<!-- 获取用户角色-->
<select id="findRoleByUid"   resultMap="URole">
	SELECT role.id,role.name from u_user_role urole left join u_role role on urole.rid = role.id where urole.uid = #{0}
</select>


</mapper>